<div class="page-header">
  <h3 class="page-title">
    {{pageTitle}}
  </h3>
</div>

<div *ngIf="income" class="row">

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"> {{income.entryDate | date }} <span class="text-muted">Entry Details</span></h6>
        <!-- <p class="card-description">
    Details for <span class="badge badge-success p-2">{{income.amountMade}}</span>
  </p>-->
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <button class="btn btn-sm btn-outline-primary btn-rounded btn-fw mr-2"
                  routerLink="/incomehistory" title="Go Back">
            <i class="mdi mdi-arrow-left-bold"></i>
          </button>
          <button class="btn btn-sm btn-outline-warning btn-rounded btn-fw"
                  routerLink="/income-detail/{{income.id}}/edit" title="Edit">
            <i class="mdi mdi-pen"></i>
          </button>
        </div>
      </div>
       
      </div>

      <hr />

      <div class="card-body">
        <blockquote class="blockquote blockquote-primary">

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="font-weight-bold">.... </th>
                  <th class="font-weight-bold">.... </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Entry Date</td>
                  <td><span class="font-weight-bold">{{income.entryDate | date}}</span></td>
                  <!-- <td>
                <button class="btn btn-sm btn-outline-dark btn-rounded btn-fw"
                routerLink="/income-detail/{{income.id}}">
                    Edit
                </button>
              </td> -->
                </tr>

                <tr>
                  <td>Amount</td>
                  <td><span class="font-weight-bold"><i class="mdi mdi-currency-ngn"></i>{{income.amountMade}}</span></td>
                </tr>

                <tr>
                  <td>Profit</td>
                  <td><span class="font-weight-bold">{{income.profit}}</span></td>
                </tr>

                <tr>
                  <td>% Profit</td>
                  <td><span class="font-weight-bold">{{income.percentageProfit}}</span></td>
                </tr>

                <tr>
                  <td>Allowance</td>
                  <td><span class="font-weight-bold">{{income.daillyAllowance}}</span></td>
                </tr>

                <tr>
                  <td>Amount Saved</td>
                  <td><span class="font-weight-bold">{{income.compulsorySavings}}</span></td>
                </tr>

                <tr>
                  <td>Balance</td>
                  <td><span class="font-weight-bold">{{income.balance}}</span></td>
                </tr>

              </tbody>
            </table>
          </div>

        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"> {{income.entryDate | date}} Expenses</h6>
      </div>
      <div class="card-body">

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="font-weight-bold">Description</th>
                  <th class="font-weight-bold">Amount</th>
                  <th class="font-weight-bold">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ex of incomeExpenses">
                  <td><label >{{ex.description}}</label></td>
                  <td><label class="badge badge-primary p-2">{{ex.amount}}</label></td>
                  <td><label >{{ex.expenseDate}}</label></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><label class="badge badge-success p-2"><i class="mdi mdi-currency-ngn"></i>{{income.expenses}}</label></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

      </div>
    </div>
  </div>

</div>

