<div class="page-header">
  <h3 class="page-title">
    {{pageTitle}}
  </h3>

 
  <!-- <div class="ml-3">
    <span class="icon-holder">
      <i class="icon-wallet"></i>
      <h4 class="mb-0 text-success">{{income.balance}}</h4>
    </span>
  </div> -->

  <!-- <div class="col-sm-3 grid-margin stretch-card">
    <div class="card quick-status-card">
      <div class="card-body">
        <h4 class="card-title">{{income.entryDate}} Balance </h4>
        <div class="row">
          <div class="col-12">
            <div class="wrapper py-4 d-flex border-bottom">
              <span class="icon-holder">
                <i class="icon-wallet"></i>
              </span>
              <div class="ml-3">
                <h4 class="mb-0 text-success">{{income.balance}}</h4>
              </div>
            </div>

          </div>
        </div>
        </div>
    </div>
  </div> -->
</div>

<div *ngIf="income" class="row">

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"> {{income.entryDate}} <span class="text-muted">Entry Details</span></h6>
        <p class="card-description">
          Details for <span class="badge badge-success p-2">{{income.amountMade}}</span>
        </p>
        <!-- <span class="mr-3">
          <i class="icon-wallet"></i>
        </span>
        <h4 class="mr-o text-success">{{income.balance}}</h4> -->
      </div>

      <div class="card-body">
        <blockquote class="blockquote blockquote-primary">

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="font-weight-bold">.... </th>
                  <th class="font-weight-bold">.... </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Entry Date</td>
                  <td><span>{{income.entryDate}}</span></td>
                  <!-- <td>
                    <button class="btn btn-sm btn-outline-dark btn-rounded btn-fw"
                    routerLink="/income-detail/{{income.id}}">
                        Edit
                    </button>
                  </td> -->
                </tr>

                <tr>
                  <td>Amount</td>
                  <td><span>{{income.amountMade}}</span></td>
                </tr>

                <tr>
                  <td>Profit</td>
                  <td><span>{{income.profit}}</span></td>
                </tr>

                <tr>
                  <td>% Profit</td>
                  <td><span>{{income.percentageProfit}}</span></td>
                </tr>

                <tr>
                  <td>Allowance</td>
                  <td><span>{{income.dailyAllowance}}</span></td>
                </tr>

                <tr>
                  <td>Amount Saved</td>
                  <td><span>{{income.savings}}</span></td>
                </tr>
  
              </tbody>
            </table>
          </div>

        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title"> {{income.entryDate}} Expenses</h6>
      </div>
      <div class="card-body">
        <blockquote class="blockquote blockquote-primary">

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="font-weight-bold">Description</th>
                  <th class="font-weight-bold">Amount</th>
                  <th class="font-weight-bold">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ex of incomeExpenses">
                  <td><label >{{ex.description}}</label></td>
                  <td><label class="badge badge-primary p-2">{{ex.amount}}</label></td>
                  <td><label >{{ex.expenseDate}}</label></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><label class="badge badge-success p-2">{{income.expenses}}</label></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

        </blockquote>
      </div>
    </div>
  </div>

</div>

