
<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row income-expense-summary-chart-text">
            <div class="col-sm-4">
              <h5>Income And Expenses Summary</h5>
              <p class="small text-muted">Total Income and Total Expense Summary.</p>
            </div>
            <div class=" col-sm-4">
              <p class="income-expense-summary-chart-legend"> <span style="border-color: #6469df"></span> Total Income </p>
              <h3>{{totalIncome}}</h3>
            </div>
            <div class="col-sm-4">
              <p class="income-expense-summary-chart-legend"> <span style="border-color: #37ca32"></span> Total Expense </p>
              <h3>{{totalGenExpenses}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
    <div class="card quick-status-card">
      <div class="card-body">
        <h4 class="card-title">Shop Balance </h4>
        <div class="row">
          <div class="col-12">

            <div class="wrapper py-4 d-flex border-bottom">
              <span class="icon-holder">
                <i class="icon-wallet"></i>
              </span>
              <div class="ml-3">
                <!-- <p class="mb-1">My Balance</p> -->
                <h4 class="mb-0 text-success">{{totalBal}}</h4>
              </div>
              <div class="ml-auto"><i class="icon-arrow-down-circle"></i><span class="text-muted ml-2">2.87 %</span></div>
            </div>

          </div>
        </div>
        </div>
      </div>
    </div>
</div>

<!-- Quick Action Toolbar Starts-->
<div class="row quick-action-toolbar">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-header d-block d-md-flex">
        <h5 class="mb-0">Quick Actions</h5>
        <p class="ml-auto mb-0">Peform Quick Actions on the fly!!!<i class="icon-bulb"></i></p>
      </div>
      <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
          <button (click)="addIncomeLink()" type="button" class="btn px-0"> <i class="icon-docs mr-2"></i> Income</button>
        </div>
        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
          <button (click)="addExpenseLink()" type="button" class="btn px-0"><i class="icon-book-open mr-2"></i> Expense</button>
        </div>
        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
          <button (click)="addGenExpenseLink()" type="button" class="btn px-0"><i class="icon-folder-alt mr-2"></i> Gen Expenses</button>
        </div>
        <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
          <button type="button" class="btn px-0"><i class="icon-chart mr-2"></i> Reports</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body performane-indicator-card">
        <div class="d-sm-flex">
          <h4 class="card-title flex-shrink-1">Performance Indicator</h4>
          <p class="m-sm-0 ml-sm-auto flex-shrink-0">
            <span class="data-time-range ml-0">7d</span>
            <span class="data-time-range active">2w</span>
            <span class="data-time-range">1m</span>
            <span class="data-time-range">3m</span>
            <span class="data-time-range">6m</span>
          </p>
        </div>
        <div class="d-sm-flex flex-wrap mt-3">
          <div class="d-flex align-items-center">
            <span class="dot-indicator bg-primary ml-2"></span>
            <p class="mb-0 ml-2 text-muted font-weight-semibold"> Complaints (2098)</p>
          </div>
          <div class="d-flex align-items-center">
            <span class="dot-indicator bg-info ml-2"></span>
            <p class="mb-0 ml-2 text-muted font-weight-semibold"> Task Done (1123)</p>
          </div>
          <div class="d-flex align-items-center">
            <span class="dot-indicator bg-danger ml-2"></span>
            <p class="mb-0 ml-2 text-muted font-weight-semibold">Attends (876)</p>
          </div>
        </div>
        <!-- <x-chartist [type]="'Bar'" [data]="performanceIndicatorBarchartData" [options]="performanceIndicatorBarchartOptions" [responsiveOptions]="performanceIndicatorBarchartResponsiveOptions" class="ct-chart mt-5"></x-chartist> -->

      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">General Expenses</h4>
        <div class="aligner-wrapper py-3">
          <!-- <canvas baseChart [chartType]="'doughnut'" [datasets]="doughnutPieData" [labels]="doughnutPieLabels" [options]="doughnutPieOptions" height="210"></canvas> -->
          <div class="wrapper d-flex flex-column justify-content-center absolute absolute-center">
            <h2 class="text-center mb-0 font-weight-bold"><span class="text-primary">{{genExpenseTotal}}</span></h2>
            <!-- <small class="d-block text-center text-muted  font-weight-semibold mb-0">Total Leads</small> -->
          </div>
        </div>
        <!-- <div class="wrapper mt-4 d-flex flex-wrap align-items-cente">
          <div class="d-flex">
            <span class="square-indicator bg-danger ml-2"></span>
            <p class="mb-0 ml-2">Assigned</p>
          </div>
          <div class="d-flex">
            <span class="square-indicator bg-success ml-2"></span>
            <p class="mb-0 ml-2">Not Assigned</p>
          </div>
          <div class="d-flex">
            <span class="square-indicator bg-warning ml-2"></span>
            <p class="mb-0 ml-2">Reassigned</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title mb-sm-0">Products Inventory</h4>
          <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> View all Products</a>
        </div>
        <div class="table-responsive border rounded p-1">
          <table class="table">
            <thead>
              <tr>
                <th class="font-weight-bold">Store ID</th>
                <th class="font-weight-bold">Amount</th>
                <th class="font-weight-bold">Gateway</th>
                <th class="font-weight-bold">Created at</th>
                <th class="font-weight-bold">Paid at</th>
                <th class="font-weight-bold">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img class="img-sm rounded-circle" alt="profile image"> Katie Holmes </td>
                <td>$3621</td>
                <td><img alt="alipay" class="gateway-icon mr-2"> alipay</td>
                <td>04 Jun 2019</td>
                <td>18 Jul 2019</td>
                <td>
                  <div class="badge badge-success p-2">Paid</div>
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-sm rounded-circle" alt="profile image"> Minnie Copeland </td>
                <td>$6245</td>
                <td><img alt="alipay" class="gateway-icon mr-2"> Paypal</td>
                <td>25 Sep 2019</td>
                <td>07 Oct 2019</td>
                <td>
                  <div class="badge badge-danger p-2">Pending</div>
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-sm rounded-circle" alt="profile image"> Rodney Sims </td>
                <td>$9265</td>
                <td><img alt="alipay" class="gateway-icon mr-2"> alipay</td>
                <td>12 dec 2019</td>
                <td>26 Aug 2019</td>
                <td>
                  <div class="badge badge-warning p-2">Failed</div>
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-sm rounded-circle" alt="profile image"> Carolyn Barker </td>
                <td>$2263</td>
                <td><img alt="alipay" class="gateway-icon mr-2"> alipay</td>
                <td>30 Sep 2019</td>
                <td>20 Oct 2019</td>
                <td>
                  <div class="badge badge-success p-2">Paid</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex mt-4 flex-wrap align-items-center">
          <p class="text-muted mb-sm-0">Showing 1 to 10 of 57 entries</p>
          <nav class="ml-auto">
            <ul class="pagination separated pagination-info mb-sm-0">
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-8 grid-margin stretch-card">
    <div class="card sales-report-country">
      <div class="card-body">
        <div class="d-md-flex">
          <h4 class="card-title">Sales Performance by Country</h4>
          <div class="mb-2 m-md-0 ml-md-auto">
            <a href="#" class="text-secondary mr-3"><i class="icon-cloud-upload mr-3"></i> Export File</a>
            <a href="#" class="text-secondary mr-3"><i class="icon-printer mr-3"></i>Print File</a>
          </div>
        </div>
        <div class="row my-xl-3">
          <div class="col-md-12 d-md-flex">
            <div>
              <h1 class="font-weight-bold mb-0">136,356.00</h1>
              <p class="text-muted">+23 since last year</p>
            </div>
            <div class="ml-md-3">
              <p class="mb-0 mt-2">Sales performance of all states in the world</p>
              <p class="mb-0">This is your most recent earnings for today's date.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 pt-3">
            <div class="row">
              <div class="pb-xl-3 col-sm-6 col-xl-12 sales-activity">
                <p class="mb-1">Activations</p>
                <h1 class="font-weight-bold mb-0 text-info">156,123</h1>
                <p class="text-muted">Updated-6:16 pm</p>
              </div>
              <div class="pt-xl-3 col-sm-6 col-xl-12 sales-activity">
                <p class="mb-0">Net Revenue</p>
                <h1 class="font-weight-bold mb-0 text-primary">331,520</h1>
                <p class="text-muted pb-0">Updated-5:14 pm</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-8">
            <mgl-map [style]="style" [zoom]="[0.1]"></mgl-map>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center">
          <h4 class="card-title mb-0">Latest Activity</h4>
          <a href="#" class="btn btn-outline-info border-0 font-weight-semibold ml-auto p-0 btn-no-hover-bg">View more</a>
        </div>
        <div class="d-flex mt-4 py-3 border-bottom">
          <img class="img-sm rounded-circle" alt="profile image">
          <div class="wrapper ml-2">
            <p class="mb-1 font-weight-medium">Mobile Apps Redesign</p>
            <small class="text-muted">+23 since last year</small>
          </div>
          <small class="text-muted ml-auto">10:07PM</small>
        </div>
        <div class="d-flex py-3 border-bottom">
          <img class="img-sm rounded-circle">
          <div class="wrapper ml-2">
            <p class="mb-1 font-weight-medium">Inviting Join Apps Cont...</p>
            <small class="text-muted">+23 since last year</small>
          </div>
          <small class="text-muted ml-auto">01:07AM</small>
        </div>
        <div class="d-flex py-3 border-bottom">
          <img class="img-sm rounded-circle" alt="profile image">
          <div class="wrapper ml-2">
            <p class="mb-1 font-weight-medium">Website Redesign</p>
            <small class="text-muted">+23 since last year</small>
          </div>
          <small class="text-muted ml-auto">04:42AM</small>
        </div>
        <div class="d-flex py-3  border-bottom">
          <img class="img-sm rounded-circle">
          <div class="wrapper ml-2">
            <p class="mb-1 font-weight-medium">Analytics Dashboard</p>
            <small class="text-muted">+23 since last year</small>
          </div>
          <small class="text-muted ml-auto">07:44PM</small>
        </div>
        <div class="d-flex pt-3">
          <img class="img-sm rounded-circle">
          <div class="wrapper ml-2">
            <p class="mb-1 font-weight-medium">Great Logo Design</p>
            <small class="text-muted">+23 since last year</small>
          </div>
          <small class="text-muted ml-auto">10:49AM</small>
        </div>
      </div>
    </div>
  </div>
</div>
