<div class="page-header">
  <h3 class="page-title">
    {{pageTitle}}
  </h3>
</div>

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Edit Expense</h6>
        <hr/>
        <div class="forms-sample">
          <form [formGroup]="newExpenseForm" (ngSubmit)="updateExpense()">

            <!-- <div class="form-inline"> -->
            <!--<div class="form-group">
                  <label for="expenseDateId">Select Date</label>
                  <div class="form-inline">
                      <input type="text" class="form-control" placeholder="DDD/MM/YYYY"
                      formControlName="expenseDate" ngbDatepicker #d2="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary mdi mdi-calendar" (click)="d2.toggle()" type="button"></button>
                      </div>
                      <hr/>
                      <hr/>
                  </div>
                  <span class="invalid-feedback">
                    {{displayMessage.expenseDate}}
                  </span>
                </div>-->
            <!-- </div> -->

            <div class="form-group">
              <label for="expenseDateId">Date</label>
              <input type="text" class="form-control"
                     placeholder="Date (required)"
                     formControlName="expenseDate" bsDatepicker
                     [bsConfig]="{containerClass: 'theme-default',
              dateInputFormat: 'DD-MM-YYYY'}"
                     [ngClass]="{'is-invalid': displayMessage.expenseDate }">
              <span class="invalid-feedback">
                {{displayMessage.expenseDate}}
              </span>
            </div>


            <div class="form-group">
              <label for="amountId">Amount</label>
              <input type="number" class="form-control"
                     id="amountId" placeholder="Amount (required)"
                     formControlName="amount" [ngClass]="{'is-invalid': displayMessage.amount }">
              <span class="invalid-feedback">
                {{displayMessage.amount}}
              </span>
            </div>

            <div class="form-group">
              <label for="descriptionId">Description</label>
              <textarea type="text" class="form-control"
                        id="descriptionId" placeholder="Description (required)"
                        formControlName="description" [ngClass]="{'is-invalid': displayMessage.description }">
            </textarea>
              <span class="invalid-feedback">
                {{displayMessage.description}}
              </span>
            </div>

            <button type="submit" class="btn btn-primary btn-rounded btn-fw mr-2"
                    [title]="newExpenseForm.valid ? 'Save Entry': 'Disabled until form data is valid'"
                    [disabled]="!newExpenseForm.valid">
              Submit
            </button>
            <button class="btn btn-light btn-rounded btn-fw"
                    title="Cancel Entry"
                    (click)="cancelEntry()">
              Cancel
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
